@import '~bootstrap/scss/bootstrap';


.nav-link {
    color: black;
}

.nav-link:hover {
    background-color: orange;
    color: white;
}

.bg-orange {
    background-color: orange;
}


.link-entry:hover {
    color: orange;
}

.pic-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 20px;
    border-radius: 50%;
}
/* 
.btn {
    border: 1px solid orange;
} */

.btn:hover {
    background-color: orange;
}